/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
.flexrow {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.flexrowrev {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}
.flexcolumn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.flexcolrev {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
}
.navfont {
  font-family: 'Aladin', cursive;
}
.bodyfont {
  font-family: 'Indie Flower', cursive;
}
.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #001a06;
}
.App .header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0.5em;
  background-color: #ffeeb3;
  border: 3px groove #ffd333;
  font-family: 'Aladin', cursive;
  border-radius: 10%;
  width: 95%;
}
.App .header .title {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.App .header .title .beegif {
  width: 2.5em;
}
.App .header .title h1 {
  font-size: 1.5em;
  font-weight: bold;
  text-align: center;
}
.App .header nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.App .header nav a {
  padding: 0.5em;
  color: #00661a;
}
.App .main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 95%;
}
.App .main h1 {
  font-family: 'Aladin', cursive;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 1.5em;
  font-weight: bold;
  text-align: center;
  padding: 0.5em;
  border-bottom: 3px groove #ffeeb3;
}
.App .main ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.App .main ul .post-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Indie Flower', cursive;
  width: 95%;
  border: 1px solid grey;
  border-radius: 20%;
  margin: 0.5em 0;
  padding-bottom: 0.3em;
}
.App .main ul .post-wrapper h3 {
  font-size: 1.2em;
  color: #00661a;
  font-weight: bold;
  padding: 0.2em;
}
.App .main ul .post-wrapper p {
  width: 95%;
  padding: 0.2em;
  text-align: justify;
}
.App .main .login-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0.2em;
  font-family: 'Aladin', cursive;
}
.App .main .login-form .boxes {
  padding: 0.2em;
  margin: 0.5em;
}
.App .main .login-form button {
  background-color: #00661a;
  color: #ffeeb3;
  border: 2px groove #00661a;
  font-size: 1em;
}
.App .main .private-route {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0.2em;
}
.App .main .private-route nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  border-bottom: 2px groove #00661a;
  margin: 0.2em 0.2em 0.5em 0.2em;
}
.App .main .private-route nav a {
  padding: 0.4em;
  font-family: 'Indie Flower', cursive;
  font-size: 1.2em;
}
.App .main .private-route .add-post {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Indie Flower', cursive;
}
.App .footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1em;
  border: 3px groove #00661a;
  border-radius: 10%;
  width: 95%;
}
.App .footer h3 {
  font-family: 'Indie Flower', cursive;
  font-size: 1em;
  text-align: center;
  padding: 0.5em;
}
.App .footer h3 a {
  color: #001a06;
}
